/* LAYOUT CSS */
#layout {
  padding: 0;
  position: relative;
}

header.pure-u {
  padding: 3em;
  background: #5EB95E;
  width: 100%;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  color: #1A4D1A;
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: #CDECCD;
}

.content {
  padding: 2em 3em 0;
  margin: 0 auto;
}

.footer {
  padding: 2em 0;
}
.footer a, .footer {
  color: #555;
  line-height: 18px;
  font-size: 12px;
}
.footer .fork a {
  color: #888;
  font-size: 11px;
}
.footer .disclaimer {
  color: #444;
  font-size: 11px;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

.total-table td,
.total-table th {
  border: 1px solid #ccc;
}

.total-table .total-row td {
  background: #f8d6d6;
}

.total-table .total-row .highlight {
  background-color: #cdeccd;
}

h1, h2, p, label {
  font-family: 'Roboto Slab', serif;
}
h2 { color: #222; }
.content {
  color: #333;
  line-height: 1.45em;
}

@media (max-width: 480px) {
  header.pure-u { padding: 0.5em 1em; }
  .brand-title { font-size: 1.5em; }
  .brand-tagline { font-size: 1em; }
  .content {
    padding: 1em 1em 0;
  }
}

hgroup { max-width: 800px; margin: 0 auto; }
.content { max-width: 800px; }
