/* LAYOUT CSS */
#layout {
  padding: 0;
  position: relative;
}

header.pure-u {
  padding: 3em;
  background: #5EB95E;
  width: 100%;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: #CDECCD;
}

.content {
  padding: 2em 3em 0;
  margin: 0 auto;
}

.footer {
  padding: 2em 0;
}
.footer a, .footer {
  color: #555;
  line-height: 18px;
  font-size: 12px;
}
.footer .fork a {
  color: #888;
  font-size: 11px;
}
.footer .disclaimer {
  color: #444;
  font-size: 11px;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

.total-table td,
.total-table th {
  border: 1px solid #ccc;
}

.total-table .total-row td {
  background: #f8d6d6;
}

.total-table .total-row .highlight {
  background-color: #cdeccd;
}

@media (max-width: 480px) {
  .content {
    padding: 2em 1em 0;
  }
}

.about { max-width: 600px; }
